#heading{
    text-align: center;
    color: goldenrod;
}

#sendBtn{
    width:100px;
    font-size:x-large;
    font-weight: bold;
}

#textBox{
    width:300px;
    font-size: x-large;
}

#message{
    height:500px;
    width: 400px;
    overflow:auto;
    background:#EEEEEE;
    font-weight: bold;
}

#search{
    height:500px;
    width: 400px;
    overflow:auto;
    background:#EEEEEE;
    font-weight: bold;
}